<div id="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ animal.name }}</mat-card-title>
      <mat-card-subtitle>{{ animal.species | titlecase }}</mat-card-subtitle>
    </mat-card-header>

    <img
      class="animal-image"
      mat-card-image
      [src]="imageUrl"
      [alt]="imageAltText"
    />
    <mat-card-content>
      <p class="description">{{ animal.description }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button [routerLink]="animal.id">VIEW DETAILS</a>
    </mat-card-actions>
  </mat-card>
</div>
