#container {
  width: 320px;
  cursor: pointer;
}

.image {
  height: 240px;

  &-custom {
    object-fit: cover;
  }

  &-default {
    object-fit: contain;
  }
}

.subtitle {
  margin-bottom: 8px;
}

.breed {
  margin-left: 6px;
  font-weight: lighter;
}
