<div id="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ animal.name }}</mat-card-title>
      <mat-card-subtitle>
        <span class="species">{{ animal.speciesName | titlecase }}</span>
        <span class="breed">{{ animal.breedName || 'Unspecified breed' | titlecase }}</span>
      </mat-card-subtitle>
    </mat-card-header>

    <img
      class="image"
      [ngClass]="animal.image ? 'image-custom' : 'image-default'"
      mat-card-image
      [src]="imageUrl"
      [alt]="imageAltText"
    />
    <mat-card-content>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button [routerLink]="animal.id">VIEW DETAILS</a>
    </mat-card-actions>
  </mat-card>
</div>
