.divider {
  margin-bottom: 24px;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

#fab-container {
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
}
