@switch (state$ | async) { @case ('busy') {
<app-loading-spinner title="Loading animals"></app-loading-spinner>
} @case ('ready') {
<app-search-controls></app-search-controls>
<mat-divider class="divider"></mat-divider>
<div id="results-container">
  @for (animal of animals$ | async; track $index) {
  <app-animal-list-item [animal]="animal"></app-animal-list-item>
  }
</div>
@if ((userRole$ | async) === 'admin') {
<div id="fab-container">
  <button mat-fab aria-label="Add a new animal" matTooltip="Add a new animal" (click)="onAddAnimal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
} } @case ('error') {
<h2>An error occurred while trying to search for animals.</h2>
}}
