@switch (status$ | async) { @case ('logged-out') {
<button mat-raised-button (click)="login()">LOG IN</button>
} @case ('logged-in') { @if (email$ | async; as email) {
<button mat-button [matMenuTriggerFor]="userMenu" aria-label="Toggle user menu button">
  <app-avatar [email]="email" [size]="32"></app-avatar>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>User profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
} } @case ('busy') {
<mat-spinner diameter="32" color="accent"></mat-spinner>
} }
