<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ isEditing ? "Edit animal" : "Add new animal" }}</h2>
  <mat-dialog-content>
    <!-- Name -->
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Animal name" formControlName="name" />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <!-- Species -->
    <mat-form-field class="full-width">
      <mat-label>Species</mat-label>
      <mat-select formControlName="speciesId" (selectionChange)="onSpeciesChanged($event.value)">
        @for (match of allSpecies$ | async; track $index) {
        <mat-option [value]="match.speciesId">{{ match.speciesName }}</mat-option>
        }
      </mat-select>
      <mat-error>Species is required</mat-error>
    </mat-form-field>
    <!-- Breed -->
    <mat-form-field class="full-width">
      <mat-label>Breed</mat-label>
      <mat-select formControlName="breedId">
        @for (breed of breedsSearchResults$ | async; track $index) {
        <mat-option [value]="breed.id">{{ breed.name }}</mat-option>
        }
      </mat-select>
      <mat-error>Breed is required</mat-error>
    </mat-form-field>
    <!-- Sex -->
    <mat-radio-group aria-label="Select animal sex" formControlName="sex">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="unknown">Unknown</mat-radio-button>
    </mat-radio-group>
    <!-- Date of birth -->
    <mat-form-field class="full-width">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
    <!-- Description -->
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        class="description"
        placeholder="Friendly description of the animal"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" type="submit" [disabled]="formGroup.pristine || !formGroup.valid">
      {{ isEditing ? "UPDATE ANIMAL" : "ADD ANIMAL" }}
    </button>
    <button
      mat-button
      type="button"
      color="accent"
      [disabled]="!isDescriptionEmpty"
      (click)="getDescriptionSuggestion()"
      matTooltip="Generate a suggested description for the animal"
    >
      GENERATE DESCRIPTION
    </button>
    <div class="spacer"></div>
    <button mat-button type="reset" [disabled]="formGroup.pristine" (click)="formGroup.reset()">RESET</button>
    <button mat-button color="warn" mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</form>
