<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Add new animal</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Animal name" formControlName="name" />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" type="submit" [disabled]="!formGroup.valid">SAVE</button>
    <button mat-button color="warn" mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</form>
