@switch (state$ | async) { @case ('busy') {
<app-loading-spinner title="Loading animal"></app-loading-spinner>
} @case ('ready') { @if (animal$ | async; as animal) {
<h1>{{ animal.name }}</h1>
<p class="description">{{ animal.description }}</p>
<div id="components-container">
  <div id="details-container" class="component">
    <h2>Details</h2>
    <app-animal-details [animal]="animal"></app-animal-details>
  </div>

  <div id="images-container" class="component">
    <h2>
      Images <span class="image-count">({{ animal.images.length }})</span>
    </h2>
    @if (animal.images.length > 0) {
    <app-image-gallery [animalId]="animalId" [images]="animal.images"></app-image-gallery>
    } @else {
    <p class="no-images">No images available</p>
    }
  </div>
</div>
} } }

<button mat-raised-button color="primary" routerLink="..">BACK TO RESULTS</button>
