@switch (state$ | async) { @case ('busy') {
<app-loading-spinner title="Loading animal"></app-loading-spinner>
} @case ('ready') { @if (animal$ | async; as animal) {
<h1>{{ animal.name }}</h1>
<p>{{ animal.description }}</p>
<div id="details-container">
  <app-animal-details [animal]="animal"></app-animal-details>
</div>

<div id="images-container">
  <h2>
    Images <span class="image-count">({{ animal.images.length }})</span>
  </h2>
  <app-image-gallery [images]="animal.images"></app-image-gallery>
</div>

} } }

<button mat-raised-button color="primary" routerLink="..">BACK TO RESULTS</button>
