.description {
  font-size: 1.2rem;
  margin-bottom: 32px;
}

#components-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;

  .component {
    min-width: 240px
  }
}

.image-count {
  font-weight: lighter;
  font-size: 14px;
}

#images-container {
  margin-bottom: 16px;
}
