<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Animal Search</mat-card-title>
    <mat-card-subtitle>Narrow your search criteria</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="control-group">
      <p class="label">Species</p>
      <mat-chip-listbox (change)="speciesName.set($event.value)" [value]="speciesName()">
        @for (species of species$ | async; track $index) {
        <mat-chip-option [value]="species.name" [matBadge]="species.animalCount" matBadgeColor="accent">
          <div class="chip-content">
            <span class="chip-label">{{ species.name }}</span>
            <app-species-icon [speciesName]="species.name"></app-species-icon>
          </div>
        </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>

    @if (speciesName()) {
      <div class="control-group">
        <p class="label">Breed</p>
        <mat-chip-listbox (change)="breedName.set($event.value)" [value]="breedName()" >
          @for (breed of breeds$ | async; track $index) {
          <mat-chip-option [value]="breed.name" [matBadge]="breed.animalCount" matBadgeColor="accent">
            {{ breed.name }}
          </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
    }

    <div class="control-group">
      <p class="label">Sex</p>
      <mat-chip-listbox (change)="sex.set($event.value)" [value]="sex()">
        <mat-chip-option value="Male">
          <div class="chip-content">
            <span class="chip-label">Male</span>
            <fa-icon [icon]="maleIcon" />
          </div>
          </mat-chip-option>
        <mat-chip-option value="Female">
          <div class="chip-content">
            <span class="chip-label">Female</span>
            <fa-icon [icon]="femaleIcon" />
          </div>
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </mat-card-content>
</mat-card>
