<div id="container">
  <h1>Animal Search</h1>
  <div class="control-group">
    <p class="label">Species</p>
    <mat-chip-listbox (change)="onSpeciesChanged($event.value)" [value]="data().speciesId">
      @for (match of speciesMatches$ | async; track $index) {
      <mat-chip-option [value]="match.id" [matBadge]="match.animalCount" matBadgeColor="accent">
        {{ match.name }}
      </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <div class="control-group">
    <p class="label">Sex</p>
    <mat-chip-listbox (change)="onSexChanged($event.value)" [value]="data().sex">
      <mat-chip-option value="male">Male</mat-chip-option>
      <mat-chip-option value="female">Female</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
