#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .control-group {
    margin-bottom: 12px;

    .label {
      font-weight: bold;
      margin-bottom: 6px;
    }
  }

  #search-form-field {
    width: 240px;
  }
}
